.challenge-card {
  display: flex;
  flex-direction: row;
  width: fit-content;
  max-width: clamp(768px, 60%, 1000px);

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .card-img {
    max-height: 400px;
    overflow: hidden;

    & img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) {
  .card-img {
    max-width: 40%;

    & img {
      display: inline-block;
      min-height: 100%;
      object-fit: cover;
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  border: solid white;
  border-width: 1px 0 1px 1px;

  @media (max-width: 768px) {
    border-width: 0 1px 1px 1px;
  }
}

.card-info {
  > :nth-child(n + 2) {
    margin-top: 1rem;
  }
  > h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.tags {
  font-weight: 300;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  text-align: center;
  margin-top: 2rem;

  & a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: Highlight;
      border-color: Highlight;
      stroke: Highlight;
    }
  }

  > a {
    border: 1px solid white;
    padding: 0.75rem 1rem;
  }

  @media screen and (max-width: 768px) {
    margin-top: 3rem;
  }
}
.external {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  svg {
    width: 2rem;
    height: 2rem;
  }
  .fem-logo {
    stroke: white;
  }
}

.external > * {
  margin-inline-end: 0.5rem;
}
