@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import 'https://unpkg.com/open-props/shadows.min.css';

$violet: hsl(263, 55%, 52%);
$grayBlue: hsl(217, 19%, 35%);
$blackBlue: hsl(219, 29%, 14%);
$lightGray: hsl(0, 0%, 81%);
$lightGrayBlue: hsl(210, 46%, 95%);

$font-family: 'Barlow Semi Condensed', sans-serif;

main.testimonials-grid {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-family: $font-family;
  background-color: $lightGrayBlue;

  .testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas: 'one one two five' 'three four four five';

    max-width: min(95%, 1050px);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      grid-template-areas: 'one' 'two' 'three' 'four' 'five';
      margin: 0 0.75em 0 0.75em;

      padding: 1em 0 1em 0;
    }

    @media (min-width: 768px) and (max-width: 850px) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: 'one two' 'three four' 'five five';
      padding: 1em 0 1em 0;
    }

    .testimonial:nth-child(1) {
      grid-area: one;

      background-color: $violet;
      color: white;
    }

    .testimonial:nth-child(2) {
      grid-area: two;

      background-color: $grayBlue;
      color: white;
    }

    .testimonial:nth-child(3) {
      grid-area: three;

      background-color: white;
      img {
        border-color: $violet;
      }
    }

    .testimonial:nth-child(4) {
      grid-area: four;

      background-color: $blackBlue;
      color: white;
    }

    .testimonial:nth-child(5) {
      grid-area: five;

      background-color: white;
      img {
        border-color: $violet;
      }
    }
  }

  .testimonial {
    min-height: 300px;

    box-shadow: var(--shadow-4);
    border-radius: 10px;
    padding: 20px;

    overflow: hidden;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid white;
    }

    @media (max-width: 768px) {
      min-height: auto;
    }

    > .info {
      display: flex;
      gap: 1rem;
    }

    > p:nth-of-type(1) {
      margin: 1rem 0 1rem;
      font-weight: 600;
      font-size: 1.3em;
      line-height: 1.2;
    }

    > p:nth-of-type(2) {
      font-size: 0.9em;
      line-height: 1.5;
      font-weight: 500;
    }
  }
}
