@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import 'https://unpkg.com/open-props/shadows.min.css';

$violet: hsl(263, 55%, 52%);
$grayBlue: hsl(217, 19%, 35%);
$blackBlue: hsl(219, 29%, 14%);
$lightGray: hsl(0, 0%, 81%);
$lightGrayBlue: hsl(210, 46%, 95%);

$font-family: 'Barlow Semi Condensed', sans-serif;

main.testimonials-grid {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-family: $font-family;
  background-color: $lightGrayBlue;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;

  max-width: clamp(375px, 85%, 1000px);
  // max-height: 820px;
  // aspect-ratio: 1.5 / 1;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.testimonial {
  min-height: 300px;
  max-height: 100%;

  box-shadow: var(--shadow-6);
  border-radius: 10px;
  padding: 20px;

  overflow: hidden;

  @media (max-width: 768px) {
    min-height: auto;
  }
}

.body-text {
  text-overflow: ellipsis;
}
// nth-child() selects the nth element of its parent
// That is, if this element is the nth child of its parent.
// It does not select the nth child of the selector.
.testimonial:nth-child(1) {
  grid-column: 1 / 3;

  background-color: $violet;
  color: white;
}

.testimonial:nth-child(2) {
  grid-column: 3 / 4;

  background-color: $grayBlue;
  color: white;
}

.testimonial:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  background-color: white;
}

.testimonial:nth-child(4) {
  grid-column: 2 / 4;
  grid-row: 2 / 3;

  background-color: $blackBlue;
  color: white;
}

.testimonial:nth-child(5) {
  grid-column: 4 / 5;
  grid-row: 1 / 3;

  background-color: white;
}
