.App {
  color: white;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.links {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;

  > a {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
  }
}

.link {
  border: 1px solid white;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
  border-color: Highlight;
  color: Highlight;
}

.challenges-section {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}

.challenge-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
