.cardContainer {
  min-height: 50%;
  max-width: 350px;
  background-color: var(--osc-white);
  border-radius: 10px;
  filter: drop-shadow(0px 10px 10px #00000020);
  text-align: center;
}

.cardContent {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cardImage {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.cardBody {
  padding: 10px 0px 20px;
}

.cardBody > h1,
h2 {
  margin-block: 0.83em;
}

.cardBody > p {
  width: 80%;
  margin: 0 auto;
  color: var(--osc-text);
}
