.PlanSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 18rem;
  max-width: 18rem;
  background-color: hsl(var(--osc-bright-blue) / 0.1);
  /* border: 0.125rem solid hsl(var(--osc-desaturated-blue) / 0.1); */
  border-radius: 0.5rem;
  padding: 1rem;
}

.PlanSelection > *:nth-child(2) {
  margin-right: auto;
}

.info {
  /* left align content */
  padding: 0 0.5rem;
  margin-right: 0.5rem;
}

.info > * {
  margin: 0;
  text-align: start;
}

.info > h3 {
  font-size: 1rem;
  font-weight: 700;
}

.info > p {
  font-size: 0.75rem;
  font-weight: 400;
}

.PlanSelection > div > a {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(var(--osc-bright-blue));
}
