.PlanSelection {
  display: grid;
  min-width: 18rem;
  max-width: 18rem;
  grid-template-columns: 1fr 10fr 1fr;
  background-color: hsl(var(--desaturated-blue) / 0.1);
  border-radius: 0.5rem;
}

.PlanSelection > * {
  display: grid;
  align-items: center;
  padding: 1rem 0.75rem;
}

.image {
  /* padding: 0; */
}

.info {
  /* left align content */
  padding: 0 0.5rem;
  margin-right: 0.5rem;
}

.info > * {
  margin: 0;
  text-align: start;
}

.info > h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.info > p {
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: -2rem;
}

.PlanSelection > div > a {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(var(--bright-blue));
}
