.wrapper {
  display: block;
  min-height: calc(100vh - 6rem);
  height: calc(100vh - 6rem);
  /* https://stackoverflow.com/a/14752346/15911637 */
}

@media (min-width: 600px) {
  .wrapper {
    min-height: calc(100vh - 3rem);
    height: calc(100vh - 3rem);
  }
}

.wrapper > * {
  height: 100%;
}
